<% if @experience_user %>
  <h1>Experiences of <%= @experience_user.email %></h1>
<% else %>
  <h1>Listing experiences</h1>
<% end %>

<%= form_tag experiences_path, :method => 'get' do %>
  <p>
    <div class="field">
      <%= label_tag :keywords %>
      <%= text_field_tag :keywords, params[:keywords] %>
    </div>
    <div class="field">
      <%= label_tag :city %>
      <%= select_tag :city, options_from_collection_for_select(City.all, :id, :name, params[:city].to_i), :prompt => 'In all cities' %>
    </div>
    <div class="field">
      <%= label_tag :categories %>
      <% for category in Category.all %>
        <div>
          <%= check_box_tag "categories[]", category.id, (params[:categories].include?(category.id.to_s) if params[:categories]) %>
          <%= category.name %>
        </div>
      <% end %>
    </div>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Categories</th>
    <th>City</th>
    <th>Actions</th>
  </tr>

<% @experiences.each do |experience| %>
  <tr>
    <td><%= link_to experience.title, experience_path(experience) %></td>
    <td><%= experience.description %></td>
    <td>
      <%= experience.categories.map { |c| c.name }.join ', ' %>
    </td>
    <td><%= experience.city.name %>
    <td><%= link_to 'Show', experience %>
    <% if visitor_is_current_user? experience.user %>
      <%= link_to 'Edit', edit_experience_path(experience) %>
      <%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @experiences %>
